<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>691195795007-1m88emv7dtkuppahlem66f4g42e9ai6g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.691195795007-1m88emv7dtkuppahlem66f4g42e9ai6g</string>
	<key>API_KEY</key>
	<string>AIzaSyBHDxY4IVQmGpHLfba7H88GtxalQsdnT6A</string>
	<key>GCM_SENDER_ID</key>
	<string>691195795007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.idoroseman.uberlog</string>
	<key>PROJECT_ID</key>
	<string>uberlog-1555107254876</string>
	<key>STORAGE_BUCKET</key>
	<string>uberlog-1555107254876.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691195795007:ios:9bff90b39e42d0f4ff0a8a</string>
	<key>DATABASE_URL</key>
	<string>https://uberlog-1555107254876.firebaseio.com</string>
</dict>
</plist>